.oc-form-container {
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 3px 0 8px 5px rgba(0,0,0,0.05);
	box-shadow: 3px 0 8px 5px rgba(0,0,0,0.05);
	padding: 15px;
	border: 1px solid #ccc;
	position: relative;
}

.oc-form-container h2,
.oc-form-container h3,
.oc-form-container h4 {
	margin-top: 0;
}

.alert.alert-sm {
	padding: 8px 10px;
	margin: 0;
}

.oc-form-subtotal-discount {
	font-size: 85%;
	text-decoration: line-through;
}

.well.well-sm.oc-form-note {
	margin: 15px 0 0 0;
}

.oc-form-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
	display: none;
}

.oc-form-overlay .oc-form-preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	color: #999;
}

.oc-form-row-relative,
.oc-form-price-totals,
.oc-form-row-controls {
	position: relative;
}

.oc-form-row-hidden {
	display: none;
}

.oc-form-row-relative .oc-form-overlay {
	background-color: transparent;
	display: block;
}

.oc-form-row-relative .oc-form-overlay .oc-form-preloader {
	margin: -14px 0 0 -14px;
}

.oc-form-option-image {
	height: 40px;
	width: auto;
}

.oc-form-container label.error {
	display: inline-block;
	font-weight: normal;
	color: #d00;
	border: 1px solid #d00;
	background-color: #fbd0d0;
	padding: 5px 10px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 14px;
}

.oc-form-container .form-group {
	position: relative;
}

.oc-form-container .form-group label.error {
	position: absolute;
	border: none;
	background-color: transparent;
	font-size: 11px;
	line-height: 10px;
	white-space: nowrap;
	right: 12px;
	bottom: 2px;
	padding: 0;
	margin: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.oc-form-container input[type="text"].error:focus + label.error ,
.oc-form-container input[type="email"].error:focus + label.error {
	right: 12px;
	bottom: -10px;
}

.oc-form-container input[type="text"].form-control.error,
.oc-form-container input[type="email"].form-control.error,
.oc-form-container input[type="text"].form-control.error:focus,
.oc-form-container input[type="email"].form-control.error:focus {
	border-color: #e42d33;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.oc-form-measure-info .oc-form-measure-symbol {
	display: inline-block;
	line-height: 32px;
}

.oc-form-captach-cell {
	position: relative;
	display: inline-block;
}

.oc-form-reload-captcha-trigger {
	font-size: 12px;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	opacity: 0.2;
	line-height: 40px;
	color: #666;
	cursor: pointer;
}

.oc-form-reload-captcha-trigger:hover {
	opacity: 1;
	white-space: nowrap;
	background-color: rgba(255,255,255,0.9);
	color: #000;
	text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff;
}

.oc-form-price-totals {
	min-height: 34px;
}

.oc-form-price-totals .alert.alert-sm {
	display: inline-block;
	padding: 6px 10px;
}

.oc-form-captach-row {
	display: none;
}

.oc-form-container input.form-control:not(:focus) {
	border-color: rgb(170, 170, 170);
	box-shadow: none;
	-webkit-box-shadow: none;
}

.oc-form-row-controls .btn.btn-primary {
	border: none;
}

.oc-form-container .well.well-sm {
	padding: 4px 10px;
	font-size: 12px;
	background-color: #f8f8f8;
	color: #666;
}

.oc-form-success-message {
	font-size: 22px;
	margin: 0 !important;
}

